
  <!DOCTYPE html>
  <html>
  <head>
      <title>Update page</title>
      <style>
      table.center {
            margin-left: auto;
            margin-right: auto;
          }
      </style>
  </head>
  <body>
    <form method="post">
      <fieldset>
        <legend>Update product</legend>
        <table class="center">
          <tr>
            <td>Product ID </td>
            <td>:<%= user.id %></td>
          </tr>
          <tr>
            <td>Product name </td>
            <td><input type="text" value="<%= user.name %>"  name="name" min="1" id="name"></td>
            <td><span style="color: red;"><%= err.name %></span></td>
          </tr>
          <tr>
            <td>Product Quantity</td>
            <td><input type="number" value="<%= user.quantity %>"  name="quantity" min="1" id="quantity">
            <span style="color: red;"><%= err.quantity %></span></td>
          </tr>
          <tr>
            <td>Product price</td>
            <td><input type="number" value="<%= user.price %>" name="price" min="1" id="price"></td>
            <td><span style="color: red;"><%= err.price %></span></td>
          </tr>

          <tr>
            <td></td>
            <td><button type="submit" name"choice" value="Update" class="btn btn-primary">Update</button></td>
          </tr>
        </table>
    </fieldset>
  </form>
  <table class="center">
      <tr>
        <td><a href="/employee/allProduct">Back</a>|
      	<a href="/logout">Logout</a></td>
      </tr>
  </table>
</body>
</html>
